<mat-card class="signup-card">

  <mat-card-title>Sign UpForm</mat-card-title>

  <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username *</mat-label>
      <input matInput type="text" id="username" name="username" ngModel #username="ngModel" required pattern="[A-Za-z]+"
        minlength="8" />

      <mat-error *ngIf="username.touched && username.hasError('required')">
        Username is required
      </mat-error>

      <mat-error *ngIf="username.touched && username.hasError('pattern')">
        Username should contain only alphabets
      </mat-error>

      <mat-error *ngIf="username.dirty && username.hasError('minlength')">
        Min length should be
        {{ username.errors?.['minlength'].requiredLength }}
        and actual length is
        {{ username.errors?.['minlength'].actualLength }}
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email *</mat-label>
      <input matInput type="text" id="email" name="email" ngModel #email="ngModel" required
        pattern="^[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$" />

      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required
      </mat-error>

      <mat-error *ngIf="email.dirty && email.hasError('pattern')">
        Please enter valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label for="question">Secret Question <sup>*</sup></mat-label>

      <mat-select required name="secretQuestion" id="secretQuestion" [(ngModel)]="secretQuestion"
        #secretQuestionModel="ngModel">

        <mat-option value="favColor">Favorite Color</mat-option>
        <mat-option value="favFruit">Favorite Fruit</mat-option>

      </mat-select>

      <mat-error *ngIf="secretQuestionModel.invalid && secretQuestionModel.touched">
        Secret Question is required
      </mat-error>
    </mat-form-field>



    <mat-form-field class="full-width" appearance="outline">
      <mat-label for="answer">Secret Answer <sup>*</sup></mat-label>

      <input matInput name="answer" required [(ngModel)]="secretAnswer" #secretAnswerModel="ngModel">

      <mat-error *ngIf="secretAnswerModel.hasError('required') && secretAnswerModel.touched">
        Secret Answer is required field!
      </mat-error>
    </mat-form-field>

    <mat-checkbox required name="isSubscribe" [(ngModel)]="isSubscribe">
      Subscribe for daily mails.
    </mat-checkbox>
    <br>
    <mat-radio-group name="modeOfContact" [(ngModel)]="modeOfContact" #modeOfContactModel="ngModel" required>

      <mat-radio-button value="phone">
        Phone
      </mat-radio-button>

      <mat-radio-button value="email">
        Email
      </mat-radio-button>

    </mat-radio-group>

    <mat-error *ngIf="modeOfContactModel.hasError('required') && modeOfContactModel.touched">
      Mode of Contact is required
    </mat-error>


    <mat-card-actions align="end">
      <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="signUpForm.invalid">
        Sign Up
      </button>
      <p class="success-msg" *ngIf="isSignupSuccess">
        Signup Successful!
      </p>
      <button mat-raised-button color="accent" class="btn-block" (click)="patchData()" [disabled]="true">
        Edit
      </button>

    </mat-card-actions>

  </form>
</mat-card>


































<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username*</label>
          <input ngModel name="username" id="username" type="text" class="form-control" name="username"
            #username="ngModel" ngModel required pattern="[A-Za-z]+" minlength="8">
          <strong class="text-danger" *ngIf="username.touched && username.hasError('required')">Username is required
            field</strong>

          <strong *ngIf="username.touched && username.hasError('pattern')">Username should have only Alphbets</strong>
          <strong class="text-danger" *ngIf="username.dirty && username.hasError('minlength')">minlength of username
            should be {{username.errors?.['minlength'].requiredLength}} and Actual length is
            {{username.errors?.['minlength'].actualLength}}</strong>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input pattern="^[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$" ngModel name="email" id="email"
            type="text" class="form-control" name="email" #email="ngModel" ngModel required>
          <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is required
            field</strong>

          <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">please enter valied
            emailId</strong>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div> -->