.signup-card {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  // min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBsYWluJTIwd2hpdGV8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
}

.full-width {
  width: 100%;
}
.radioGroup {
  gap: 20px;
}
.success-msg {
  color: #2e7d32;
  background: #e8f5e9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}
